/* .outline{
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .5s;
    
}
.dot{
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    
    border: 1px solid red;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .5s;
  
    

} */

.circle{
    position: fixed;
    height: 40px;
    width: 40px;
    border:  2px solid ;
    top: 0;
    left: 0;
    z-index: 20;
    border: 2px dotted red;
    border-radius: 50%;
    pointer-events: none;
    cursor: none;
    transition: .20s;
    
}
.dot{
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left:50% ;
    transform: translate(-50%, -50%);
    position:absolute ;
    top: 50%;
   border: 5px dotted gold;
    
   
   
  
    

}